# JETBRAINS-RELATED
.idea/*


# VS-CODE RELATED
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Node Modules - install seperately via npm
/node_modules/
